################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/.vs/Cemsa-BackEnd/DesignTimeBuild/.dtbcache.v2
/obj/Debug/net6.0/Cemsa-BackEnd.assets.cache
/obj/Debug/net6.0/Cemsa-BackEnd.csproj.AssemblyReference.cache
/obj/Debug/net6.0/Cemsa-BackEnd.GeneratedMSBuildEditorConfig.editorconfig
/obj/Cemsa-BackEnd.csproj.nuget.dgspec.json
/obj/Cemsa-BackEnd.csproj.nuget.g.props
/obj/project.assets.json
/obj/project.nuget.cache
/.vs/Cemsa-BackEnd/FileContentIndex/c2013639-e76e-447d-ade7-90dbbbea2704.vsidx
/.vs/Cemsa-BackEnd/v17/.futdcache.v2
/.vs/Cemsa-BackEnd/v17/.suo
*.dll
/bin/Debug/net6.0/Cemsa-BackEnd.dll
/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
